%nav.bg-gray-200.p-3.rounded.font-sans.w-full.mx-4.my-2{"aria-label": "breadcrumb"}
  %ol.list-reset.flex.text-grey-dark
    %li.text-teal-600.font-bold
      = link_to link do
        %i.far.fa-chevron-left.mr-2
        = title
