%header.page-title-bar.mb-0
  = render(back_link) if back_link
  .d-flex.flex-column.flex-md-row
    .lead.mb-2.mx-4
      %h1.text-3xl.font-weight-bold
        = title
      = tag.span subtitle, class: "text-gray-600" if subtitle