@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import '@fortawesome/fontawesome-pro';

.page-title-bar {
  width: 100%;
  margin-right: auto;
  margin-left: auto
}

.page-title-bar {
  margin-bottom: 1.5rem;
  padding: 0 1rem
}

@media (min-width: 576px) {
  .page-title-bar {
      padding-right:0;
      padding-left: 0
  }
}

.page-title-bar .btn-toolbar {
  margin-left: -.75rem
}

.btn {
  @apply font-bold py-2 px-4 rounded;
}
.btn-blue {
  @apply bg-blue-500 text-white;
}
.btn-blue:hover {
  @apply bg-blue-600;
}

.form-alert {
  @apply bg-red-100 border-l-4 border-red-500 text-red-700 p-4;
}


.form-element {
  @apply my-2
}

.form-label {
  @apply block text-gray-700 text-sm font-bold mb-2;
}

.form-checkbox-label {
  @apply text-gray-700 text-sm font-bold mb-2;
}

.form-input {
  @apply shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight
}



