.bg-white.p-4.m-2.rounded-lg
  .flex
    .bg-gray-200.p-4.rounded-lg
      %i.fal.fa-2x{ class: "#{icon_class}"}
    .self-center.pl-4
      .text-md #{plan.recipe.name}
      .text-gray-500 #{plan.recipe.base}
